body{
font-family: sans-serif;
    line-height: 25px;
}
#h1{
    font-size: 18px; font-weight: bold;
}
#h2{
    font-size: 12px;
}
hr{
    margin-top: -20px;
    border-style: dotted;
}
